body {
    background-color:#00E676;
    font-family:"Comic Sans MS";
}
main{
    margin-top:30%;
}
li{
    list-style-type:none;
}
.title--contact{
    float: right;
}
.header--title{
    color:white;
}
a {
    text-decoration: none;
    color:grey;
}